footer#footer

  .wrapper
    .footer-left
      p.footer-title &copy;&nbsp;2019&nbsp;- Sutterlity
      p Product designer, Intégrateur web Freelance - Paris
    .footer-right
       ul.social
         +socialItem ('Twitter', '#twitter', urlTwitter)
         +socialItem ('Linkedin', '#linkedin', urlLinkedin)
         +socialItem ('Github', '#github', urlGithub)
         +socialItem ('Dribbble', '#dribbble', urlDribbble)
         +socialItem ('Greaaat', '#greaaat', urlGreaaat)
