/**
 * Button icons
 * Dependencies : _button.scss
 * --------------------------------------- */

.button--labeled {
  padding-left: em(16, 14);
  &::after {
    transform: translate3d(em(8,14), 25%, 0);
  }
  .icon {
    position: absolute;
    top: 50%;
    left: em(10,14);
    height: em(30,14);
    width: em(30,14);
    transform: translateY(-50%);
    fill: $clr-0-darken;
    transition: $trans;
  }

  &:hover {
    &::after {
      transform: translate3d(em(8,14), 0, 0);
    }
  }
}
