//- Site informations
- var lang = 'fr'

//- Page informations
- var title = "UI designer, développeur front-end freelance"
- var metaDesc = "Portfolio de Laurent Sutterlity, développeur front-end freelance à Paris. Membre de réseau de freelances Greaaat."

//- URL
-var urlLocal = "http://localhost:3000"
-var urlTwitter = "https://twitter.com/sutterlity"
-var urlLinkedin = "https://www.linkedin.com/in/sutterlity"
-var urlGithub = "https://github.com/sutter"
-var urlDribbble = "https://dribbble.com/sutterlity"
-var urlPlayBook = "http://sutterlity.dribbble.com/"
-var urlGreaaat = "http://greaaat.com/"

