/** ======================================
 * Component : app
 * ======================================= */

[id="app"] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $clr-light;
  @media (min-width: $mq-s-up) {
    border: em(20) solid $clr-1;
  }
  .t-404 & {
    background: $clr-1;
  }
}

[id="app-main"] {
  flex-grow: 1;
  .t-fullPage & {
    display: flex;
  }
}

.app-main-inner {
  display: flex;
  flex-grow: 1;
}
