/** ======================================
 * Component : Footer
 * ======================================= */

[id=footer] {
  padding: em(60) 0;
  background: $clr-0-darken;

  p {
    margin: 0;
    font-size: em(14);
    color: $clr-light;
  }

  .wrapper {
    text-align: center;
    @media (min-width: $mq-m-up) {
      text-align: left;
      display: flex;
      align-items: center;
    }
  }

}

.footer-title.footer-title {
  font-weight: 700;
  text-transform: uppercase;
  color: $clr-light;
}

.footer-right {
  @media (min-width: $mq-m-up) {
    margin-left: auto;
  }
}
