/** ======================================
 * Component : Social
 * ======================================= */

 .social.social {
   display: flex;
   justify-content: center;
   padding: 0;
   margin: em(40) 0 0 0;
   list-style: none;
   @media (min-width: $mq-m-up) {
     justify-content: flex-start;
     margin-top: 0;
  }
 }

.social-item + .social-item {
  margin-left: em(10);
}

.social-link {
  display: block;
  padding: em(10);
  line-height: 1;
  transition: $trans;
  &:hover {
    .social-icon {
      fill: $clr-light;
    }
  }
}

.social-icon {
  width: em(30);
  height: em(30);
  fill: $clr-1;
  transition: $trans;
}

.social-name {
  @include visually-hidden;
}
