/** ======================================
 * Component : Tag
 * ======================================= */

.tag {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: em(-5);
  list-style: none;
}

.tag-item {
  display: block;
  margin: em(5, 14);
  padding: em(5,14) em(15,14);
  font-size: em(14);
  line-height: 1;
  background: $clr-0-lighten;
  color: $clr-0;
  border-radius: em(666);
}
