/** ======================================
 * Component : Typography
 * ======================================= */

.txtXXL {
  @include title;
  font-size: $font-size-XXL;
}
.txtXL {
  @include title;
  font-size: $font-size-XL;
}
.txtL {
  @include title;
  font-size: $font-size-L;
}
.txtM {
  @include title;
  font-size: $font-size-M;
}
.txtS {
  @include title;
  font-size: $font-size-XS;
}
.txtXS {
  @include title;
  font-size: $font-size-XS;
}

.txtLead {
  font-weight: 700;
  font-size: em(18);
  line-height: em(26, 18);
  color: $clr-0-dark;
}

.txtMedium {
  font-weight: 700;
  color: $clr-0-darken;
}

.txtSmall {
  font-size: em(14);
  line-height: em(18, 14);
}
