/**
 * Button icons
 * Dependencies : _button.scss
 * --------------------------------------- */

.button--labeled {
  padding-left: em(56, 14);
  .icon {
    position: absolute;
    top: 50%;
    left: em(10,14);
    height: em(30,14);
    width: em(30,14);
    transform: translateY(-50%);
    fill: $clr-0-darken;
    transition: $trans;
  }
}
