//- Site informations
- var lang = 'fr'

//- Page informations
- var title = "UI designer, développeur front-end freelance - Paris"
- var metaDesc = "Portfolio de Laurent Sutterlity, UI designer & développeur front-end freelance à Paris."

- var template = template || "t-home"

//- URL
-var urlTwitter = "https://twitter.com/sutterlity"
-var urlLinkedin = "https://www.linkedin.com/in/sutterlity"
-var urlGithub = "https://github.com/sutter"
-var urlDribbble = "https://dribbble.com/sutterlity"
-var urlPlayBook = "http://sutterlity.dribbble.com/"
-var urlGreaaat = "http://greaaat.com/"

