extend ../layout/base

append config
  - var template = "t-home"

block content
  section
    header.hero
      .wrapper
        p.hero-name <span>Laurent</span> Sutterlity
        h1.hero-title Développeur front-end / UI designer
        svg.divider
          use(xlink:href='#divider')
        p.hero-baseline
          | Je suis spécialisé dans le design d'interface utilisateur
          span
            | &nbsp;et le développement front-end pour startup.
        .hero-button
          +cta("#references", "Mes références", "Mes références")
          +cta("#contact", "Contact", "Contact")(class="button--secondary")
      .hero-face

    #services.pod
      .wrapper
        .pod-header
          h2.pod-title Freelance
          p.pod-bigTitle Dev-front & designer
          svg.divider
            use(xlink:href='#divider')
          p.txtLead
            | Créatif et passionné, je suis disponible pour vous accompagner de la conception jusqu’au développement de votre projet.
        .grid
          .grid-2-4
            h3.pod-smallTitle Développeur front-end
            ul.tag
              li.tag-item HTML
              li.tag-item CSS
              li.tag-item JavaScript
              li.tag-item React
              li.tag-item Gatsby
              li.tag-item CSS-in-JS
              li.tag-item Performance
              li.tag-item SEO
              li.tag-item Accessibilité
          .grid-2-4
            h3.pod-smallTitle UI designer
            ul.tag
              li.tag-item UI design
              li.tag-item Atelier de conception
              li.tag-item Wireframe
              li.tag-item Wireflow
              li.tag-item Design systeme
              li.tag-item Design mobile
              li.tag-item Design d'application web
              
          
      .data
        .data-item
          .data-title 79
          .data-legend Missions freelance
        .data-item
          .data-title 10
          .data-legend Années d'expérience

    .quote
      .wrapper
        blockquote
          p
            | Apprendre continuellement et produire la meilleure expérience utilisateur possible sont les principes qui guident mon travail.

  section#references.pod
    .wrapper
      .pod-header
        h2.pod-title Portfolio
        .pod-mediumTitle Mes références
        svg.divider
          use(xlink:href='#divider')
        p.txtLead
          | Ensemble, construisons un produit superbe & pragmatique pour vos utilisateurs.
        p
          | Voici un échantillon de projets sur lesquels je suis intervenu.
        ul.listInline.u-txtCenter
          li
            +ctaLabeled (urlPlayBook, 'UI design', '#dribbble', true)
          li
            +ctaLabeled (urlGithub, 'Dev-Front', '#github', true)
      .listProject
        +project(
          'Early Birds',
          'https://www.early-birds.io/',
          '2019',
          "Développement front-end du site vitrine et blog avec Gatsby et Prismic pour l'API."
        )
        +projectLock(
          'Testapic',
          '2019',
          "Réalisation d'un design systeme pour l'application de test utilisateurs."
        )
        +project(
          'Station',
          'https://getstation.com/',
          '2018',
          "Développement front-end du site vitrine avec Gatsby et Prismic pour l'API."
        )
        +project(
          'Sqills',
          'https://getsqills.com/',
          '2019',
          "Design produit de l'application de recherche et de compétences."
        )
        +projectLock(
          'Safran',
          '2019',
          "Création d'une librairie de composants react pour applications internes de lecture de boites noires."
        )
        +project(
          'Mogment',
          'https://www.mogment.com/',
          '2018',
          "Product design de l'application de gestion de rapport d’activité de collaborateurs et développement front-end du site vitrine avec Gatsby et Prismic pour l'API."
        )
        +project(
          'Alqemist',
          'https://www.alqemist.com/',
          '2018',
          "UI design et développement front-end du portfolio du product studio. Utilisation de React, Gatsby JS, styled-components et netlify."
        )
        +project(
          'Dospatch',
          'https://www.dospatch.com/',
          '2018',
          "UI design de la landing page de l'application de plannification de projet."
        )
        +project(
          'Ouihelp',
          'https://www.ouihelp.fr/',
          '2018',
          "Développement front-end du site vitrine avec Gatsby (collaboration)."
        )
        +project(
          'Udeal',
          'https://udeal.fr/',
          '2018',
          "Intégration web dans un environnement Rails en collaboration avec l'équipe Alqemist."
        )
        +project(
          'Meaningful',
          'http://www.meaningful.fr/',
          '2017',
          "Développement front-end du portfolio du studio de design stratégique. Utilisation de React, styled-components et netlify."
        )
        +projectLock(
          'Cabestan',
          '2017',
          "Développement front-end de prototype (React) et création d'un framework CSS avec génération de styldeguide en collaboration avec l'équipe Alqemist."
        )
        +projectLock(
          'People by Total',
          '2017',
          "Intégration web dans un environnement Rails en collaboration avec l'équipe Alqemist, pour Total."
        )
        +project(
          'Startup Project',
          'https://www.startupproject.fr/',
          '2016',
          "Intégration web dans un environnement Rails en collaboration avec l'équipe Alqemist, pour l'AACC Cap Digital."
        )
        +project(
          'Chausson Finances',
          'http://www.chaussonfinance.com/',
          '2016',
          "UI/UX design et intégration web du site corporate."
        )
        +project(
          'Home By Me',
          'https://home.by.me/fr',
          '2016',
          "Réalisation de l'UI design, réflexion UX design (en équipe) et intégration de l'application web pour 3DVIA (Dassault System)."
        )

  section#contact.pod
    .wrapper
      .pod-header.u-mbn
        h2.pod-title Contact
        .pod-mediumTitle Travaillons ensemble
        svg.divider
          use(xlink:href='#divider')
        p.txtLead
          | Vous avez un projet et vous pensez que nous pouvons travailler ensemble&nbsp;?
          | <br/> N’hésitez pas à me contacter.
        p.u-mtm.u-mbm
          +cta("mailto:laurent@sutterlity.fr", "laurent@sutterlity.fr", "Contactez-moi")(class="button--tertiary")
        p.txtSmall.u-mbn
          | Pour toute demande de prestation, merci de m’indiquer votre budget
          span.u-fakeBr
            | &nbsp;ainsi que vos délais. N’oubliez pas de me joindre votre cahier des charges.
