extend ../layout/base

append config
  - var template = 't-home'

block content
  section
    header.hero
      .wrapper
        p.hero-name <span>Laurent</span> Sutterlity
        h1.hero-title  UI designer / Développeur front-end
        svg.divider
          use(xlink:href='#divider')
        p.hero-baseline
          | Je suis spécialisé dans le design d'interface utilisateur
          | <span>et le développement front-end pour startup & web agency.</span>
        .hero-button
          +cta("#references", "Mes références", "Mes références")
          +cta("#contact", "Contact", "Contact")(class="button--secondary")
      .hero-face

    #services.pod
      .wrapper
        .pod-header
          h2.pod-title Développeur créatif
          p.pod-bigTitle Design & code
          svg.divider
            use(xlink:href='#divider')
          p.txtLead
            | Bonjour, je suis Laurent Sutterlity, freelance à Paris. Créatif et passionné, je suis disponible
            | pour vous accompagner dans la réalisation de votre projet web du conseil à la livraison.
        .grid
          .grid-2-4
            h3.pod-smallTitle UI Designer
            p
              | J'interviens sur la hiérarchisation de l'information et la création de prototypes de pages. Je rends
              | votre projet créatif, intuitif, en assure une lecture agréable et facilite la navigation de
              | l'utilisateur.
            ul.tag
              li.tag-item UI DEsign
              li.tag-item UX Design
              li.tag-item Wireframe
              li.tag-item Ergonomie
              li.tag-item Sketch
              li.tag-item Photoshop
              li.tag-item Illustrator
              li.tag-item Invision
              li.tag-item Principle
          .grid-2-4
            h3.pod-smallTitle Développeur front-end
            p
              | Je code dans les règles de l’art en HTML, CSS et JavaScript. Je suis également adepte du Mobile-First
              | et pense maintenabilité.
              | Voici mon <a href="https://github.com/sutter/helloFront"target="_blank">framework CSS</a>
              | mon principal outil de travail.
            ul.tag
              li.tag-item HTML
              li.tag-item CSS
              li.tag-item JavaScript
              li.tag-item Php
              li.tag-item Responsive
              li.tag-item Mobile first
              li.tag-item WordPress
              li.tag-item SCSS
              li.tag-item Jade
              li.tag-item Gulp
              li.tag-item Git
      .data
        .data-item
          .data-title 57
          .data-legend Missions freelance
        .data-item
          .data-title 07
          .data-legend Années d'expérience

    .quote
      .wrapper
        blockquote
          p
            | Apprendre continuellement et produire la meilleure expérience utilisateur possible sont les principes qui
            | guident mon travail.

  section#references.pod
    .wrapper
      .pod-header
        h2.pod-title Portfolio
        .pod-mediumTitle Mes références
        svg.divider
          use(xlink:href='#divider')
        p.txtLead
          | J’ai eu la chance et l’opportunité de travailler pour de grandes agences sur des budgets importants tels
          | que Ferrari, SFR, Dassault, BNP, Le Grand Palais, BPI ,Carrefour, etc.
        p Voici un échantillon de projets sur lesquels je suis intervenu.
        ul.listInline.u-txtCenter
          li
            +ctaLabeled (urlPlayBook, 'UI design', 'dribbble', true)
          li
            +ctaLabeled (urlGithub, 'Dev-Front', 'github', true)
      .listProject
        +projectLock(
          'Festival de Couthures',
          '2016',
          "UI design et intégration web dans un environnement Rails en collaboration avec l'équipe E-lam, pour l'e " +
          "magazine XXI."
        )
        +projectLock(
          'Startup Project',
          '2016',
          "Intégration web dans un environnement Rails en collaboration avec l'équipe E-lam, pour l'AACC Cap Digital."
        )
        +projectLock(
          'Ogustine',
          '2016 - 2015',
          "Intégration web dans un environnement Rails en collaboration avec l'équipe E-lam."
        )
        +project(
          'Chausson Finances',
          'http://www.chaussonfinance.com/',
          '2016',
          "UI/UX design et intégration web du site corporate."
        )
        +projectLock(
          'Home By Me',
          '2015',
          "Réalisation de la charte graphique UI/UX design et intégration de l'application web pour 3DVIA (Dassault" +
          " System)"
        )
        +project(
          'Delight Data',
          'http://delight-data.com/fr/',
          '2016 - 2015',
          "UI design et développement du thème WordPress. Intégration web dans un environnement Rails en " +
          "collaboration " +
          "avec l'équipe E-lam."
        )
        +projectLock(
          'SNCF',
          '2015',
          "UI design, conversion d'une DA d'Illustrator vers Sketch APP pour l'agence WeDoData."
        )
        +projectLock(
          'Monitoraide',
          '2015',
          "UI design et intégration web dans un environnement Rails en collaboration avec l'équipe E-lam."
        )
        +project(
          'StartupAssembly',
          'http://www.startupassembly.co/',
          '2015',
          "Refonte de l'UI design et intégration web dans un environnement Rails en collaboration avec l'équipe E-lam."
        )
        +projectLock(
          'Pyramidale Communication',
          '2015',
          "UI design de diverses applications mobile dans l'univers du médical."
        )
        +projectLock(
          'FNAC',
          '2015',
          "Intégration web sur le wizzard d'achat et création de newsletters."
        )
        +project(
          'Greaaat',
          'http://greaaat.com/',
          '2015',
          "UI design et développement du thème WordPress."
        )
        +projectLock(
          'Arval BNP',
          '2015',
          "Intégration web dans un environnement Backbones pour l’agence Awak’It du site anniversaire B2B."
        )
        +project(
        'Ferrari GT',
        'http://auto.ferrari.com/',
        '2014',
        "Intégration web et thème wordpress (travail en équipe) pour l’agence Big Youth."
        )
        +project(
          'BPI France',
          'http://www.bpifrance.fr/',
          '2014',
          "Intégration web (travail en équipe) pour l’agence 5ème Gauche."
        )
        +projectLearning(
          'Formateur indépendant',
          '2015 - 2013',
          "Formateur (HTML, CSS, jQuery, WordPress, UI Design) pour IESA Multimédia, Ziggourat formation," +
          " Orsys, etc."
        )

  section#contact.pod
    .wrapper
      .pod-header.u-mbn
        h2.pod-title Contact
        .pod-mediumTitle Travaillons ensemble
        svg.divider
          use(xlink:href='#divider')
        p.txtLead
          | Vous avez un projet et vous pensez que nous pouvons travailler ensemble ?<br/> N’hésitez pas à me contacter.
        p.u-mtm.u-mbm
          +cta("mailto:laurent@sutterlity.fr", "laurent@sutterlity.fr", "Contactez-moi")(class="button--tertiary")
        p.txtSmall.u-mbn
          | Pour toute demande de prestation, merci de m’indiquer votre budget<br/> ainsi que vos délais.
          | N’oubliez pas de me joindre votre cahier des charges.
