/** ======================================
 * Component : Contact
 * ======================================= */
 
 [id=contact] {
   padding: em(80) 0;
   color: $clr-1-darken;
   background: $clr-1;

   .pod-mediumTitle::after {
     margin-bottom: em(30, 34);
   }

   .txtSmall {
     br {
       @media (max-width: $mq-m) {
         display: none;
       }
     }
   }

 }
