/** ======================================
 * Component : Contact
 * ======================================= */
 
 [id=contact] {
   padding: em(80) 0;
   color: $clr-light;
   background: $clr-1 url('../img/hands.jpg') center;
   background-size: cover;

   .pod-mediumTitle {
     color: $clr-light;
   }

   .divider {
     stroke: $clr-light;
   }

   .txtLead {
     color: $clr-light;
   }

   .txtSmall {
     @media (min-width: em(560, 14)) {
       span {
         display: block;
       }
     }
   }

 }
