/** ======================================
 * Component : Footer
 * ======================================= */

[id=footer] {
  padding: em(60) 0;
  background: $clr-0-darken;

  p {
    margin: 0;
    font-size: em(14);
    color: darken($clr-0, 20%);
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

}

.footer-title.footer-title {
  font-weight: 700;
  text-transform: uppercase;
  color: $clr-light;
}

.footer-right {
  margin-left: auto;
}
