/** ======================================
 * Component : Hero
 * ======================================= */
 
 .hero {
   position: relative;
   padding: em(160) 0;
   background: $clr-0-darken;
   overflow: hidden;
   .wrapper {
     position: relative;
     z-index: 3;
     .t-fullPage & {
       display: flex;
       flex-grow: 1;
       flex-direction: column;
       justify-content: center;
       text-align: center;
     }
   }
   .t-fullPage & {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
   .divider {
     stroke: $clr-light;
   }
 }

.hero-name {
  font-family: $custom-font-family;
  font-size: em(60);
  font-weight: 700;
  line-height: 1;
  color: $clr-light;
  @media (min-width: $mq-s-up) {
    font-size: em(88);
    .t-404 & {
      font-size: em(66);
    }
  }
  span {
    display: block;
    font-size: 40%;
    font-weight: 400;
    color: $clr-1;
    .t-404 & {
      color: $clr-light;
    }
  }
}

.hero-title {
  color: $clr-1;
  font-size: em(14);
  font-weight: 400;
  text-transform: uppercase;
  @media (min-width: $mq-s-up) {
    font-size: em(17);
  }
}

.hero-baseline {
  color: $clr-light;
  @media (max-width: $mq-s) {
    br {
      display: none;
    }
  }
}

.hero-button {
  margin: 0;
  @media (max-width: $mq-s) {
    margin-top: em(80);
    .button {
      display: flex;
      justify-content: center;
      + .button {
        margin-top: em(30);
      }
    }
  }
  .t-fullPage & {
    text-align: center;
  }
}

.hero-face {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0;
  .t-404 & {
    @media (min-width: $mq-s-up) {
      background: url('../img/hands.jpg') center;
      background-size: cover;
    }
  }
  .t-home & {
    @media (min-width: $mq-s-up) {
      background: url('../img/sutterlity.jpg') right -140px center no-repeat;
      background-size: auto 100%;
    }
    @media (min-width: $mq-m-up) {
      background-position: calc(50% + 300px) center;
    }
  }
}
