/** ======================================
 * Component : References
 * ======================================= */

 [id=references] {
   padding-top: em(80);
   padding-bottom: em(80);
   @media (min-width: $mq-m-up) {
     padding-right: em(80);
     padding-left: em(80);
   }

   .listInline {
     li + li  {
       margin-left: em(20);
     }
    @media (max-width: $mq-s) {
      > li {
        display: block;
      }
      li + li {
        margin-top: em(20);
        margin-left: 0;
      }
      .button {
        display: block;
        width: auto;
      }
    }
   }

 }
