/** ======================================
 * Component : References
 * ======================================= */

 [id=references] {
   padding-top: em(80);
   padding-bottom: em(80);
   @media (min-width: $mq-m-up) {
     padding-right: em(80);
     padding-left: em(80);
   }
 }
